@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap ,  family=Work+Sans:ital, wght@0,700;1,700&display=swap');


*{
    font-family: "Work Sans", sans-serif;
}

header{
    background: #f3e1cd;
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
}

nav li a{
    text-decoration: none;
    color: #424242;
    
}
nav > ul > li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1.5rem;
   
}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

.banner-title{
    font-size: 3.5rem;
}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.btn-primary{
    background-color: orangered;
    color: white;
    height: 30px;
    width: 150px;
    font-size: 1.25rem;
    border: 0;
    border-radius: 5px;
    padding;
    font-style: bold;
    cursor: pointer;
}
.banner-image{
    width: 100%;
    margin-top: 20px;
}


/* features section starts */

main{
    max-width: 1440px;
    margin: 0  auto;
}

.teams-container{
    display: flex;
    align-items: center;
    margin-top: 5%;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}

.teams-content{
    padding-right: 70px;
    padding-left: 70px;
}

.teams-title{
    font-size: 2.8rem;
}
.quick{
    color: #424242;
}

.t-features{
    color: orangered;
    font-weight: 700;
}

.facts-card-container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 30px;
}

.card-status{
    font-size: 2.8erm;
    color: #727272;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-title{
    margin-top: 10px;
    color: #424242;
    font-size: 1.8rem;
}

.sponsors{
    text-align: center;
}

.sponsors-img-container img{
    width: 165px;
}
.sponsors-img-container{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    align-items: center;
}


.features{
    display: flex;
    margin: 50px;
    justify-content: space-between;
}
.feature-content{
   padding: 40px;
    margin-right: 40px;
}

.feature-container-cards2s{
    padding: 20px;
    margin-bottom: 10px;
    background-color: #dcd7d7;
    border-radius: 8px;
    box-shadow: (0 4 30 0) rgba(0 0 0 0.6);
}

.ten-years{
    background-color: #FF900E;
    width: 300px;
    height: 100px;
    color: white;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    padding-top: 40px;
    position: relative;
    bottom: 100px;
    right: 60px;
    border-radius: 10px;
}

.feature-content h1{
    border-left: #FF900E 5px
    ;
}
.footer-des{
    color: white;
    background-color: #a1631c;
    text-align: center;
    height: 50px;
    align-items: center;
    padding-top: 20px;
}

/* for mobile phones */
@media  screen and (max-width:576px) {
    nav,
    .teams-container,
    .facts-card-container,
    .sponsors-img-container,
    .features{
        flex-direction: column;
    }
    .teams-img-container{
      grid-template-columns: 1fr;
    }
    header{
        padding: 20px;
    } 
    .teams-content,  .facts-card-container,
    .sponsors{
        padding-right: 20px;
        padding-left: 20px;
    }
    .facts-card-container{
        gap: 15px
        ;
    }
    .facts{
        padding: 20px;
    }
    .sponsors-img-container img{
        grid-template-columns: repeat(2,1fr);
    }
    .features img{
        width: 100%;
    }
    
}
/* for tabs */
@media  screen and (min-width:576px) and (max-width:992px) {
    nav,
    .teams-container,
    .facts,
    .sponsors-img-container,
    .features
    {
        flex-direction: column;
    }
    header{
        padding: 50px;
    } 
    .sponsors-img-container img{
        grid-template-columns: 2fr;
    }
    
}